<configuration scan="true">

	<define name="log.home" class="com.ycnet.belink.core.log.LogHomeDefiner"></define>
	
	<appender name="search" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
	      <fileNamePattern>${log.home}/search-%d{yyyy-MM-dd}.log</fileNamePattern>   
	      <maxHistory>30</maxHistory>    
	    </rollingPolicy>   
	    <encoder>   
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>   
	    </encoder>   
  	</appender>
	
  	<appender name="login" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
	      <fileNamePattern>${log.home}/login-%d{yyyy-MM-dd}.log</fileNamePattern>   
	      <maxHistory>30</maxHistory>    
	    </rollingPolicy>   
	    <encoder>   
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>   
	    </encoder>   
  	</appender>
	
  	<appender name="exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/exception.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <fileNamePattern>${log.home}/exception-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
    			<maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>
	    <encoder>
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
	    </encoder>
  	</appender>
  	
  	<appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>${log.home}/service.log</file>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		    <fileNamePattern>${log.home}/exception-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
		    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
    			<maxFileSize>100MB</maxFileSize>
		    </timeBasedFileNamingAndTriggeringPolicy>
	    </rollingPolicy>
	    <encoder>
	      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
	    </encoder>
  	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
  	<logger name="com.ycnet.belink.core.aspect.log.ExceptionLogAspect" level="INFO">
		<appender-ref ref="exception" />
	</logger>

	<logger name="com.ycnet.belink.core.aspect.log.ServiceLogAspect" level="INFO">
		<appender-ref ref="service" />
	</logger>
	
	<logger name="com.ycnet.belink.web.config.support.BelinkAuthenticationSuccessHandler" level="INFO">
		<appender-ref ref="login" />
	</logger>
	
	<logger name="com.ycnet.belink.web.controller.mobile.UserTemplateController" level="INFO">
		<appender-ref ref="search" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>

</configuration>